* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  background-color: aquamarine;
  color: black;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: antiquewhite;
  color: black;
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

nav {
  border: 1px solid white;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border: 1px solid white;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advertisement {
  border: 1px solid white;
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
