* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #f06292, #2196f3);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  padding: 20px;
  width: 200px;
  height: auto;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dog {
  height: 500px;
}

.cat {
  height: 400px;
}

.fish {
  height: 350px;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.card p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.card ul {
  list-style: none;
  margin-bottom: 10px;
}

.card ul li {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.card h3 {
  font-size: 1.8em;
  margin: 10px 0;
}

.card button {
  background-color: #ffeb3b;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 150px;
}
